<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<header th:insert="fragments/navbar :: navbar"></header>

<div class="container-fluid w-100 p-0" style="background-color: #eee;">
    <section class="min-vh-100">
        <div class="container h-100">

            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Update Person</p>

                            <div th:if="${exceptionMessage}" th:text="${exceptionMessage}"
                                 class="d-flex flex-row align-items-center mb-4 alert alert-danger"></div>

                            <form th:action="@{/admin/person/{id}/update(id=${person.id})}" th:object="${person}" class="mx-1 mx-md-4" method="post">

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input th:field="*{firstname}" type="text" id="firstname" class="form-control"/>
                                        <label class="form-label" for="firstname">Firstname</label>
                                        <div th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="alert alert-info"></div>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input th:field="*{lastname}" type="text" id="lastname" class="form-control"/>
                                        <label class="form-label" for="lastname">Lastname</label>
                                        <div th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="alert alert-info"></div>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input th:field="*{email}" type="email" id="email" class="form-control"/>
                                        <label class="form-label" for="email">Email</label>
                                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-info"></div>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input th:field="*{phone}" type="text" id="phone" class="form-control"/>
                                        <label class="form-label" for="phone">Phone</label>
                                        <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="alert alert-info"></div>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input th:field="*{dateOfBirth}" type="date" id="dateOfBirth" class="form-control"/>
                                        <label class="form-label" for="dateOfBirth">Date Of Birth</label>
                                        <div th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" class="alert alert-info"></div>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input th:field="*{password}" type="password" id="password" class="form-control"/>
                                        <label class="form-label" for="password">Password</label>
                                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-info"></div>
                                    </div>
                                </div>

                                <div class="form-group input-group" th:if="${#fields.hasErrors('global')}" th:errors="*{password}"></div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <label class="form-check-label">Roles:
                                            <input class="form-check-input ms-3" type="checkbox" name="roles"
                                                   th:each="role : ${allRoles}"
                                                   th:text="${role}"
                                                   th:value="${role}"
                                                   th:field="*{roles}"
                                            />
                                        </label>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <label class="form-check-label">Status:
                                            <input class="form-check-input ms-3" type="checkbox" name="roles" th:field="*{status}"/>
                                        </label>
                                    </div>
                                </div>

                                <div class="d-flex flex-row align-items-center mb-4">
                                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                    <div class="form-outline flex-fill mb-0">
                                        <input id="accountPassword" class="form-control" type="password"
                                               th:field="*{account.accountSecurityDetails.passwordHash}"/>
                                        <label class="form-label" for="accountPassword">Account Password</label>

                                        <div th:if="${#fields.hasErrors('account.accountSecurityDetails.passwordHash')}"
                                             th:errors="*{account.accountSecurityDetails.passwordHash}"
                                             class="alert alert-info"></div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                    <button id="updateButton" type="submit" class="btn btn-primary btn-lg">Update
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

</body>
</html>