<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid w-100 p-0" style="background-color: #eee;">
    <header th:insert="fragments/navbar :: navbar"></header>

    <section class="bg-light p-5 vh-100">
        <div class="table-responsive" id="no-more-tables">
            <table class="table bg-white">
                <thead class="bg-dark text-light">
                <tr>
                    <th>ID</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Phone</th>
                    <th>Date Of Birth</th>
                    <th>Account Id</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="person: ${persons}">
                    <td th:text="${person.id}"></td>
                    <td th:text="${person.firstname}"></td>
                    <td th:text="${person.lastname}"></td>
                    <td th:text="${person.email}"></td>
                    <td>
                        <a id="password" th:text="${person.password}"></a>
                    </td>
                    <td th:text="${person.phone}"></td>
                    <td th:text="${person.dateOfBirth}"></td>
                    <td th:text="${person.account.id}"></td>
                    <td>
                        <div class="row g-0">
                            <div class="col">
                                <a th:href="@{/admin/person/{id}/edit(id=${person.id})}"
                                   class="btn btn-warning">Update</a>
                            </div>

                            <div class="col">
                                <form th:action="@{/admin/person/{id}/delete(id=${person.id})}" method="post">
                                    <button class="btn btn-danger" onclick="if (!(confirm('Are you sure you want to delete this person?'))) return false"
                                            type="submit">Delete
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <div th:insert="fragments/footer :: footer"></div>
</div>


<script th:inline="javascript" th:if="${success != null}">
    let message = [[${success}]]
    window.onload = function () {
        alert(message)
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

</body>
</html>